.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.content {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.content > i > .dev {
  font-size: 10rem;
}

.content > h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.base {
  min-height: 3.1rem;
}

.base > p {
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.in {
  animation: text-focus-in 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  transition: 0.2s;
}

.focus {
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: 0.2s;
}

.content > button {
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
