.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.content {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.content > i > .dev {
  font-size: 10rem;
}

.content > h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.content > p {
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.in {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.out {
  animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
