* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: snow;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: .5em;
    background-color: #f4f1de;
}

body::-webkit-scrollbar-thumb {
    background-color: #3D405B;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: .5px;
    text-transform: capitalize;
}

header {
    background-color: #81b29a;
    width: 100vw;
}

.logo-container {
    display: flex;
    width: 200px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

#logo-container__image-container {
    height: 50px;
    width: 50px;
}

#logo-container__image-container--image {
    height: 100%;
    width: 100%;
}

#logo-container__text {
    margin-top: 4%;
    color: black;
    font-weight: bolder;
}

.nav-container__list {
    display: flex;
    justify-content: space-around;
}

.nav-container__list__list-element-a {
    text-decoration: none;
    color: #f4f1de;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 7px;
}

.nav-container__list__list-element-a:hover {
    color: black;
}

.main {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2CC8F
}

#main__image-container {
    width: 400px;
    height: 400px;
}

#main__image-container--image {
    width: 80%;
    height: 100%;
    border-radius: 25px;
    margin: 10% 0;
}

.main h1 {
    color: #3D405B;
}

.main strong {
    color: #E07A5F;
    font-weight: 900;
}

.portfolio {
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 1fr;
    gap: 5px;
}

.portfolio h2 {
    font-weight: 900;
    color: #E07A5F;
    grid-column: 1 / span 2;
    margin: 0 auto;
}

.portfolio h3,
h4,
h5,
h6 {
    color: #3D405B
}

#portfolio__article-1 {
    transition: 1s;
    width: 90%;
    height: 90%;
    grid-column: 1;
    grid-row: 2;
    margin: 10px;
    padding: -20px;
}

#portfolio__article-1:hover {
    border: #3D405B solid 1px;
    transition: .5s;
}

#portfolio__article-2 {
    transition: 1s;
    width: 90%;
    height: 90%;
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
    padding: -20px;
}

#portfolio__article-2:hover {
    border: #E07A5F solid 1px;
    transition: .5s;
}

#portfolio__article-3 {
    transition: 1s;
    width: 90%;
    height: 90%;
    grid-column: 1;
    grid-row: 3;
    margin: 10px;
    padding: -20px;
}

#portfolio__article-3:hover {
    border: #81B29A solid 1px;
    transition: .5s;
}

#portfolio__article-4 {
    transition: 1s;
    width: 90%;
    height: 90%;
    grid-column: 2;
    grid-row: 3;
    margin: 10px;
    padding: -20px;
}

#portfolio__article-4:hover {
    border: #F4F1DE solid 1px;
    transition: .5s;
}

.about {
    background-color: #f8f7ff;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 1fr 1fr 1fr;
    gap: 5px;
}

.about h2 {
    font-weight: 900;
    color: #E07A5F;
    grid-column: 1 / span 2;
    margin: 0 auto;
}

.about h3,
h4,
h5,
h6 {
    color: #3D405B
}

#about__info {
    grid-column: 1;
    grid-row: 3;
    margin: 0 auto;
}

#about__first-video {
    grid-column: 2;
    width: 95%;
    height: 100%;
    border: #E07A5F solid 5px;
}

#about__first-video iframe {
    width: 100%;
    height: 100%;
}

#about__second-video {
    grid-column: 2;
    grid-row: 3;
    width: 95%;
    height: 100%;
    border: #3D405B solid 5px;
}

#about__second-video iframe {
    width: 100%;
    height: 100%;
}

#about__third-video {
    grid-column: 2;
    grid-row: 4;
    width: 95%;
    height: 93%;
    border: #81B29A solid 5px;
}

#about__third-video iframe {
    width: 100%;
    height: 100%;
}

.contact {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 1fr 30px;
}

.contact h2 {
    grid-column: 1 / span 3;
    margin: 0 auto;
    font-weight: 900;
    color: #E07A5F;
}

.contact h4 {
    grid-row: 2;
    grid-column: 1 / span 3;
    margin: 0 auto;
    font-weight: 600;
    color: #3D405B;
    text-transform: lowercase;
}

.contact footer {
    grid-row: 3;
    grid-column: 1 / span 3;
    margin: 0 auto;
    text-transform: uppercase;
}

.contact a {
    font-weight: 600;
    color: #3D405B;
}